#Dashboard {
  color: rgb(190, 190, 190);
  height: calc(100vh - 59px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Dashboard h1 {
  color: hsl(139, 44%, 54%);
}

#Dashboard h3 {
  color: hsl(139, 44%, 54%);
}

#Dashboard .Label {
  color: hsl(139, 44%, 54%);
  font-weight: bold;
}

#Dashboard .table {
  border-spacing: 0px;
  margin: auto;
}

#Dashboard .table .header {
  background-color: rgb(25, 29, 32);
  display: table-header-group;
}

#Dashboard .table th {
  color: hsl(139, 44%, 54%);
  display: table-cell;
  padding: 5px 10px;
}

#Dashboard .table > .header .years {
  text-align: left;
}

#Dashboard .table > .header .dateOfBirthWithoutYear {
  text-align: left;
}

#Dashboard .table > .header .firstname {
  text-align: left;
}

#Dashboard .table > .header .lastname {
  text-align: left;
}

#Dashboard .table > .header .street {
  text-align: left;
}

#Dashboard .table > .header .city {
  text-align: left;
}

#Dashboard .table > .body {
  font-size: small;
}

#Dashboard td {
  padding: 5px 10px;
}

#Dashboard .table tr:hover {
  background-color: rgb(80, 80, 80);
}

#Dashboard .table tr:nth-child(even) {
  background-color: rgb(34, 39, 44);
}

#Dashboard .table tr:nth-child(even):hover {
  background-color: rgb(80, 80, 80);
}

#Dashboard .table > .body .years {
  padding: 10px 48px 10px 20px;
}

#Dashboard .table > .body .dateOfBirthWithoutYear {
  text-align: left;
  padding: 10px 48px 10px 20px;
}

#Dashboard .table > .body .firstname {
  text-align: left;
}

#Dashboard .table > .body .lastname {
  text-align: left;
}

#Dashboard .table > .body .street {
  text-align: left;
}

#Dashboard .table > .body .postcode {
  padding: 10px 42px 10px 20px;
}

#Dashboard .table > .body .city {
  text-align: left;
}

#Dashboard .table > .body .dateOfBirth {
  padding: 10px 42px 10px 20px;
}

#Dashboard .table > .body .joinedAt {
  padding: 10px 42px 10px 20px;
}

#Dashboard #MembershipTable {
  margin: 30px 20px;
  width: max-content;
}

#Dashboard #BirthdayTable {
  margin: 30px 20px;
  width: max-content;
}

#Dashboard #TableTitle {
  color: hsl(139, 44%, 54%);
  font-size: 2em;
  font-weight: bold;
}

#Dashboard #TableHeader {
  display: flex;
}

#Dashboard #TimeRangeArea {
  margin: 0 8px 8px 8px;
  width: 100%;
  text-align: left;
}

#Dashboard .TimeRangeDiffIcon {
  color: hsl(139, 44%, 54%);
  display: inline-block;
  transform: rotate(90deg) translateX(4px);
}

#Dashboard #CountArea {
  white-space: nowrap;
  margin: 0 8px 8px 8px;
}

#Dashboard .MuiTableSortLabel-root {
  color: hsl(139, 44%, 54%);
}

#Dashboard .MuiTableSortLabel-icon {
  color: hsl(139, 44%, 54%);
}

#Dashboard .InfoButton {
  transform: scale(0.75);
  margin: 0 0 5px 0;
  cursor: pointer;
}
#Dashboard .InfoButtonArea :hover {
  color: hsl(139, 44%, 75%);
}
