@if (Members == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-light">
        <thead class="table-primary">
            <tr class="testclass">
                <th>Last Name</th>
                <th>First Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Members)
            {
                <tr @onclick=@(e => PersonClicked(person.PersonId)) style="cursor: pointer;">
                    <td>@person.LastName</td>
                    <td>@person.FirstName</td>
                </tr>
            }
        </tbody>
    </table>
}
