<table id="details-table" class="table table-bordered table-light">
    <tbody>
        <tr><td class="key-column">First Name</td><td class="value-column"></td></tr>
        <tr><td class="key-column">Last Name</td><td class="value-column"></td></tr>
        <tr><td class="key-column">Street</td><td class="value-column"></td></tr>
        <tr><td class="key-column">Housenumber</td><td class="value-column"></td></tr>
        <tr><td class="key-column">Postcode</td><td class="value-column"></td></tr>
        <tr><td class="key-column">City</td><td class="value-column"></td></tr>
        <tr><td class="key-column">Email</td><td class="value-column"></td></tr>
        <tr><td class="key-column">Date of Birth</td><td class="value-column"></td></tr>
        <tr><td class="key-column">Joined at</td><td class="value-column"></td></tr>
        <tr><td class="key-column">Exited at</td><td class="value-column"></td></tr>
        <tr>
            <td class="key-column">Student</td>
            <td class="value-column">
                
            </td>
        </tr>
        <tr>
            <td class="key-column">Pensioner</td>
            <td class="value-column">
                
            </td>
        </tr>
        <tr>
            <td class="key-column">Pays Cash</td>
            <td class="value-column">
                
            </td>
        </tr>
    </tbody>
</table>