.name {
    font-weight: 800;
}

.key-column {
    font-weight: bold;
    vertical-align: middle;
    width: 150px;
}

#details-table {
    margin-top: 15px;
}

@media (max-width: 640.98px) {
    #details-table {
        margin-top: 5px;
    }
}

.center-items {
    width: 100%;
    display: flex;
    justify-content: center;
}
