.App {
  text-align: center;
}

.App-content {
  height: calc(95vh - 29px);
  background-color: #282c34;
}

.App-link {
  color: hsl(139, 44%, 54%);
  padding: 0px 10px;
  font-weight: 600;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

.App-footer {
  height: 5vh;
  background-color: #303238;
  display: flex;
  align-items: center;
  justify-content: center;
}
