.App {
  text-align: center;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.App-header {
  height: 5vh;
  background-color: #303238;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 4.5vh;

  /* Converted with https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(70%) sepia(53%) saturate(425%) hue-rotate(86deg)
    brightness(85%) contrast(83%);
}

.App-content {
  height: 90vh;
  background-color: #282c34;
}

.App-link {
  color: hsl(139, 44%, 54%);
  padding: 0px 10px;
  font-weight: bold;
  text-decoration: none;
}
.App-link:hover {
  text-decoration: underline;
}

.App-footer {
  height: 5vh;
  background-color: #303238;
  display: flex;
  align-items: center;
  justify-content: center;
}
